<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add news</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Title" value="{{news.title}}">
        <br>
        <textarea  cols="30" rows="10" name="content" >{{news.content}}</textarea>
        <br>
        <select name="category_id">
            <option value="">choose category</option>
            {% for category in categories %}
                {% if news.category == category %}
                    <option value="{{category.id}}" selected>{{category.name}}</option>
                {% else %}
                    <option value="{{category.id}}">{{category.name}}</option>
                {% endif %} 
            {% endfor %}
        </select>
        <input type="submit" value="Save">
    </form>
</body>
</html>