{% extends "profile/base.html" %}
{% load static %}
{% block content %}

<body>


    <!-- REMOVE FOLLOWING LINK -->
    <a href="http://bootstrap-ecommerce.com/page-themes.html" class="btn btn-dark rounded-pill"
        style="font-size:13px; z-index:100; position: fixed; bottom:10px; right:10px;">Download theme</a>
    <!-- REMOVE  //END -->

    {% include 'profile/header.html' %}

    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">
        <div class="container">

            <div class="row">
                {% include 'profile/links.html' %}
                <main class="col-md-9">

                    <a href="{% url 'add-adress-view' %}" class="btn btn-light mb-3"> <i class="fa fa-plus"></i> Add new
                        address </a>
                    <div class="row">
                        {% for adress in my_adresses %}
                        <div class="col-md-6">
                            <article class="box mb-4">
                                <h6>{{adress.city}}, {{adress.country}}</h6>
                                <p>Building: {{adress.building}} <br> Floor: {{adress.floor}}, Aprt:
                                    {{adress.appertment}}
                                    <br>Street: {{adress.street}}
                                    <br>Pochta code: {{adress.pochta_code}}
                                </p>
                                {% if adress.status == True %}
                                    <a href="" class="btn btn-light enabled"><i class="fa fa-check"></i> Default</a>
                                {% else %}
                                    <a href="{% url 'adress-active-view' pk=adress.id k='false' %}" class="btn btn-light enabled"> Make Default</a>
                                {% endif %}
                                <a href="{% url 'update-adress-view' pk=adress.id %}" class="btn btn-light"> <i
                                        class="fa fa-pen"></i> </a> <a
                                    href="{% url 'delete-adress-view' pk=adress.id %}" class="btn btn-light"> <i
                                        class="text-danger fa fa-trash"></i> </a>
                            </article>
                        </div> <!-- col.// -->
                        {% endfor %}
                    </div> <!-- row.// -->

                </main> <!-- col.// -->
            </div>

        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

    {% include 'profile/footer.html' %}

</body>
{% endblock content %}