{% extends "profile/base.html" %}
{% load static %}
{% block content %}

<body>

	<!-- REMOVE FOLLOWING LINK -->
	<a href="http://bootstrap-ecommerce.com/page-themes.html" class="btn btn-dark rounded-pill"
		style="font-size:13px; z-index:100; position: fixed; bottom:10px; right:10px;">Download theme</a>
	<!-- REMOVE  //END -->

	{% include 'profile/header.html' %}

	<!-- ========================= SECTION CONTENT ========================= -->
	<section class="section-content padding-y">
		<div class="container">

			<div class="row">
				{% include 'profile/links.html' %}
				<main class="col-md-9">

					<article class="card mb-4">
						<header class="card-header">
							<a href="#" class="float-right"> <i class="fa fa-print"></i> Print</a>
							<strong class="d-inline-block mr-3">Order ID: 6123456789</strong>
							<span>Order Date: 16 December 2018</span>
						</header>
						<div class="card-body">
							<div class="row">
								<div class="col-md-8">
									<h6 class="text-muted">Delivery to</h6>
									{% for data in adress_data %}
									<p> {{data.user.first_name}} <br>
										Location: {{data.country}}, City: {{data.city}}<br>
										Building: {{data.building}}, Street: {{data.street}}, <br>
										P.O. Box: {{data.pochta_code}} 
									</p>
									{% endfor %}
								</div>
								<div class="col-md-4">
									<h6 class="text-muted">Payment</h6>
									<span class="text-success">
										<i class="fab fa-lg fa-cc-visa"></i>
										Visa **** 4216
									</span>
									<p>Subtotal: $356 <br>
										Shipping fee: $56 <br>
										<span class="b">Total: $456 </span>
									</p>
								</div>
							</div> <!-- row.// -->
						</div> <!-- card-body .// -->
						<div class="table-responsive">
							<table class="table table-hover">
								<tbody>
									{% for item in orderitems %}
									<tr>
										<td width="65">
											<img src="{% get_media_prefix %}{{item.product.image}}" class="img-xs border">
										</td>
										<td>
											<p class="title mb-0">{{item.product.title}}</p>
											<var class="price text-muted">{{item.total_price_order}}</var>
										</td>
										<td> Seller <br> {{item.product.manufacturer}} </td>
										<td width="250"> <a href="#" class="btn btn-outline-primary">Track order</a>
											<div class="dropdown d-inline-block">
												<a href="#" data-toggle="dropdown"
													class="dropdown-toggle btn btn-outline-secondary">More</a>
												<div class="dropdown-menu dropdown-menu-right">
													<a href="#" class="dropdown-item">Return</a>
													<a href="#" class="dropdown-item">Cancel order</a>
												</div>
											</div> <!-- dropdown.// -->
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div> <!-- table-responsive .end// -->
					</article> <!-- card order-item .// -->
				</main> <!-- col.// -->
			</div>

		</div> <!-- container .//  -->
	</section>
	<!-- ========================= SECTION CONTENT END// ========================= -->

	{% include 'profile/footer.html' %}

</body>
{% endblock content %}