{% extends "index/base.html" %}
{% load i18n %}
{% load change_lang %}
{% load static %}

{% block main %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            <main class="col-md-9">
        <div class="card">
        
        <table class="table table-borderless table-shopping-cart">
                <thead class="text-muted">
                    <tr class="small text-uppercase">
                        <th scope="col">{% trans 'Product' %}</th>
                        <th scope="col" width="120">{% trans 'Quantity' %}</th>
                        <th scope="col" width="120">{% trans 'Price' %}</th>
                        <th scope="col" class="text-right" width="200"> </th>
                    </tr>
                </thead>
            <tbody>
                {% for cartitem in cartitems %}
                    <tr>
                    <td>
                        <figure class="itemside">
                            <div class="aside"><img src="{% get_media_prefix %}{{ cartitem.product.image }}" class="img-sm"></div>
                            <figcaption class="info">
                                <a href="#" class="title text-dark">{{cartitem.product.title}}</a>
                                
                                {% if  cartitem.get_size_name %}
                                    <p class="text-muted small">Size: {{cartitem.get_size_name}}</p>
                                {% endif %}

                                {% if  cartitem.get_color_name %}
                                    <p class="text-muted small">color: {{cartitem.get_color_name}}</p>
                                {% endif %}
                                <p class="text-muted small">guarantee: {{cartitem.product.guarantee}} year </p>
                                <p class="text-muted small">Manufacturer: {{cartitem.product.manufacturer}}  </p>
                            </figcaption>
                        </figure>
                    </td>
                    <td> 
                        <div class="form-group col-md flex-grow-0">
                            <div class="input-group mb-3 input-spinner">
                                <div class="input-group-prepend">
                                    <a class="btn btn-light" href="{% url 'subtract-cart-item'  cartitem_id=cartitem.id %}" type="button" id="button-minus"> - </a>
                                </div>
                                <input type="text" class="form-control" value="{{cartitem.quantity}}">
                                <div class="input-group-append">
                                    <a class="btn btn-light" href="{% url 'add-cart-item'  cartitem_id=cartitem.id %}" type="button" id="button-plus"> + </a>
                                </div>
                            </div>
                        </div>
                    </td>
                        <td> 
                            <div class="price-wrap"> 
                                <var class="price">{{cartitem.total_price}} so'm</var> 
                                <small class="text-muted"> {{cartitem.get_price}} so'm </small> 
                            </div>
                        </td>
                        <td class="text-right"> 
                        {% if cartitem.product in items %}
                            <a data-original-title="Remove to Wishlist"  title="" href="{% url 'remove-wishlist' pk=cartitem.product.id data='cart' %}" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart" style="color: red;"></i></a> 
                        {% else %}
                            <a data-original-title="Save to Wishlist"  title="" href="{% url 'add-to-wishlist' pk=cartitem.product.id data='cart' %}" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a> 
                        {% endif %}
                        <a href="{% url 'remove-cart-item' cartitem_id=cartitem.id%}" class="btn btn-light" id="remove"> {% trans 'Remove' %} </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class="card-body border-top">
            <a href="#" class="btn btn-primary float-md-right"> {% trans 'Make Purchase' %} <i class="fa fa-chevron-right"></i> </a>
            <a href="{% url 'store-page' %}" class="btn btn-light"> <i class="fa fa-chevron-left"></i> {% trans 'Continue shopping' %} </a>
        </div>	
        </div> <!-- card.// -->
        
        <div class="alert alert-success mt-3">
            <p class="icontext"><i class="icon text-success fa fa-truck"></i> {% trans 'Free Delivery within 1-2 weeks' %} </p>
        </div>
        
            </main> <!-- col.// -->
            <aside class="col-md-3">
                <div class="card mb-3">
                    <div class="card-body">
                    <form action= "{% url 'cart' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>{% trans 'Have coupon?' %}</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="cupon-code" valvue="code" placeholder="Coupon code">
                                <span class="input-group-append"> 
                                    <button type="submit" class="btn btn-primary">{% trans 'Apply' %}</button>
                                </span>
                            </div> 
                            <a style="color: darkred;"><span>{{cupon_message}}</span></a>
                        </div>
                    </form>
                    </div> <!-- card-body.// -->
                </div>  <!-- card .// -->
                <div class="card">
                    <div class="card-body">
                            <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd class="text-right">USD 568</dd>
                            </dl>
                            <dl class="dlist-align">
                            <dt>Discount:</dt>
                            <dd class="text-right">USD 658</dd>
                            </dl>
                            <dl class="dlist-align">
                            <dt>Total:</dt>
                            <dd class="text-right  h5"><strong>$1,650</strong></dd>
                            </dl>
                            <hr>
                            <p class="text-center mb-3">
                                <img src="{% static 'images/misc/payments.png' %}" height="26">
                            </p>
                            
                    </div> <!-- card-body.// -->
                </div>  <!-- card .// -->
            </aside> <!-- col.// -->
        </div>
    </div> <!-- container .//  -->
</section>
    
    
{% endblock main %}
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script> 

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous">
    </script>
  
    <script>
        var addToCart = document.getElementById("remove");
        addToCart.addEventListener("click", () => {
        console.log("Clicked");
    
        data = {
            cartitem_id: "{{cartitem.id}}"
        }
        
    
        remove(data);
    
        });
    
        function remove(data) {
        const csrftoken = getCookie('csrftoken');
        
        fetch("{% url 'remove' %}",{
            method: "POST",
            headers: {
            "Content-type": "application/json",
            "X-CSRFToken": csrftoken
            },
            body: JSON.stringify(data)
        }).then(
            response => response.json()
        );
        }
    </script>


<!-- <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous">
</script>

<script>
    var addToCart = document.getElementById("remove");
    addToCart.addEventListener("click", () => {
    console.log("Clicked");
    
    data = {
        cartitem_id: "{{cartitem.id}}"
    }
        
    remove(data);
    
    });

    function remove(data){
    $.ajax("http://localhost:8000/cart/",{
        type: "GET",
        data: data,
        success: function (data, status, xhr) {
        console.log(data);
        }
    });
    }
</script>
 -->
