{% extends "index/base.html" %}
{% load i18n %}
{% load change_lang %}
{% load static %}

{% block main %}

<body>


	<!-- REMOVE FOLLOWING LINK -->
	<a href="http://bootstrap-ecommerce.com/page-themes.html" class="btn btn-dark rounded-pill"
		style="font-size:13px; z-index:100; position: fixed; bottom:10px; right:10px;">{% trans 'Download theme' %}</a>
	<!-- REMOVE  //END -->


	<!-- ========================= SECTION CONTENT ========================= -->
	<section class="section-content padding-y">
		<div class="container">

			<div class="row">
				{% include 'profile/links.html' %}
				<main class="col-md-9">

					<article class="card">
						<div class="card-body">
							<div class="row">
								{% for item in items %}
								<div class="col-md-6">
									<figure class="itemside mb-4">
										<div class="aside"><img src="{% get_media_prefix %}{{item.product.image}}" class="border img-md"></div>
										<figcaption class="info">
											<a href="{% url 'product-detail' slug=item.product.slug %}" class="title">{{item.product.title}}</a>
											<p class="price mb-2">{{item.product.price}} so'm</p>
											<a href="{% url 'cart' %}" class="btn btn-secondary btn-sm"> {% trans 'cart' %} </a>
											<a href="{% url 'remove-wishlist' pk=item.product.id data='wishlist' %}" class="btn btn-danger btn-sm" data-toggle="tooltip" title=""
												data-original-title="Remove from wishlist"> <i class="fa fa-times"></i>
											</a>
										</figcaption>
									</figure>
								</div> <!-- col.// -->
								{% endfor %}
							</div> <!-- row .//  -->

						</div> <!-- card-body.// -->
					</article>


				</main> <!-- col.// -->
			</div>

		</div> <!-- container .//  -->
	</section>
	<!-- ========================= SECTION CONTENT END// ========================= -->

{% include "index/footer.html" %}

</body>
{% endblock main %}