{% load i18n %}
{% load change_lang %}
{% load static %}
<!-- =============== SECTION 2 =============== -->
<section class="padding-bottom">

    <header class="section-heading mb-4">
        <h3 class="title-section">{% trans 'Daily deals' %}</h3>
    </header>
    <div class="row row-sm">
        {% for daily_product in daily_products %}
        <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                <div  class="card card-sm card-product-grid">
                    <a href="{% url 'product-detail' slug=daily_product.slug %}" class="img-wrap"> 
                        <img src="{% get_media_prefix %}{{daily_product.image}}"> 
                    </a>
                    <figcaption class="info-wrap">
                        <h6><a style="color:orangered" href="{% url 'product-detail' slug=daily_product.slug %}" class="title">{{daily_product.title}}</a></h6>
                        <div class="price-wrap">
                            <span class="price">{{daily_product.price}} so'm </span>
                            <del class="price-old">{{daily_product.old_price}} so'm</del>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </div>
            </div> <!-- col.// -->
        {% endfor %}
    
    </div> <!-- row.// -->
    </section>
    <!-- =============== SECTION 2 END =============== -->
    