{% load i18n %}
{% load change_lang %}
{% load static %}
<!-- =============== SECTION 1 =============== -->
<section class="padding-bottom">
    <header class="section-heading mb-4">
        <h3 class="title-section">{% trans 'Recommended items' %}</h3>
    </header>
    
    <div class="row">
        {% for product in products %}
            <div class="col-xl-3 col-lg-3 col-md-4 col-6">
                <div class="card card-product-grid">
                    <a href="{% url 'product-detail' slug=product.slug %}" class="img-wrap"> <img src="{% get_media_prefix %}{{ product.image }}"> </a>
                    <figcaption class="info-wrap">
                        <ul class="rating-stars mb-1">
                            <li style="width:{{product.get_rating_percent}}%" class="stars-active">
                                <img src="{% static 'images/icons/stars-active.svg' %}" alt="">
                            </li>
                            <li>
                                <img src="{% static 'images/icons/starts-disable.svg' %}" alt="">
                            </li>
                        </ul>
                        <div>
                            <a href="#" class="text-muted">{{product.sub_category.category}}</a>
                            <h5><a href="{% url 'product-detail' slug=product.slug %}" class="title">{{product.title}}</a></h5>
                        </div> 
                        <div class="price-wrap my-2">
                            <span class="price">{{product.price}} so'm</span>
                            <del class="price-old">{{product.old_price}} so'm</del>
                        </div> 
                         <!-- price.// -->
                    </figcaption>
                </div>
            </div> <!-- col.// -->
        {% endfor %}
    </div> <!-- row.// -->
    </section>
    <!-- =============== SECTION 1 END =============== -->