{% load static %}

<nav class="navbar d-none d-md-flex p-md-0 navbar-expand-sm navbar-light border-bottom">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTop4">
        <ul class="navbar-nav mr-auto">
            <li><span class="nav-link">Hi, <a href="#"> Sign in </a> or <a href="#"> Register </a></span></li>
            <li><a href="#" class="nav-link"> Deals </a></li>
            <li><a href="#" class="nav-link"> Sell </a></li>
            <li><a href="#" class="nav-link"> Help </a></li>
        </ul>
        <ul class="navbar-nav">
            <li><a href="#" class="nav-link"> <img src="{% static 'images/icons/flags/US.png' %}" height="16"> Ship to </a></li>
            <li class="nav-item dropdown">
                 <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">   Watchlist </a>
                <ul class="dropdown-menu small">
                    <li><a class="dropdown-item" href="#">First item</a></li>
                    <li><a class="dropdown-item" href="#">Second item</a></li>
                    <li><a class="dropdown-item" href="#">Third item </a></li>
                </ul>
            </li>
            <li><a href="#" class="nav-link"> My shop </a></li>
            <li><a href="#" class="nav-link"> <i class="fa fa-bell"></i> </a></li>
            <li><a href="#" class="nav-link"> <i class="fa fa-shopping-cart"></i> </a></li>
        </ul> <!-- list-inline //  -->
      </div> <!-- navbar-collapse .// -->
    </div> <!-- container //  -->
</nav>