<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="gmail" placeholder="Enter your gmail">
        <br>
        <input type="password" name="password1" placeholder="Enter your password">
        <br>
        <input type="password" name="password2" placeholder="confirm your password">
        <br>
        <input type="submit" value="Register">
    </form>
</body>
</html>