{% extends "index/base.html" %}
{% load i18n %}
{% load change_lang %}
{% load static %}
{% block main %}


<section class="py-3 bg-light">
  <div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'bosh-sahifa' %}">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item"><a >{{product.sub_category.category}}</a></li>
        <li class="breadcrumb-item"><a >{{product.sub_category}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{product.title}}</li>
    </ol>
  </div>
</section>

<!-- ============================ ITEM DETAIL ======================== -->
<div class="row">
  <aside class="col-md-6">
    <div class="card">
      <article class="gallery-wrap">
        <div class="img-big-wrap">
          <div> <a href="#"><img src="{% get_media_prefix %}{{product.image}}" id="main-image-frame"></a></div>
        </div> <!-- slider-product.// -->
        <div class="thumbs-wrap">
          <a href="#" class="item-thumb">
            <img src="{% get_media_prefix %}{{product.image}}" class="extra-images">
          </a>
          {% for product_image in product.product_images.all %}
          <a href="#" class="item-thumb">
            <img src="{% get_media_prefix %}{{product_image.image}}" class="extra-images">
          </a>
          {% endfor %}
        </div> <!-- slider-nav.// -->
      </article> <!-- gallery-wrap .end// -->
    </div> <!-- card.// -->
  </aside>
  <main class="col-md-6">
    <article class="product-info-aside">
      <h2 class="title mt-3"> {{product.title}} </h2>

      <div class="rating-wrap my-3">
        <ul class="rating-stars">
          <li style="width:80%" class="stars-active"> 
            <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
            <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
            <i class="fa fa-star"></i> 
          </li>
          <li>
            <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
            <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
            <i class="fa fa-star"></i> 
          </li>
        </ul>
        <small class="label-rating text-muted">132 reviews</small>
        <small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> 154 orders </small>
      </div> <!-- rating-wrap.// -->
      
      <div class="mb-3"> 
        <var class="price h4">USD {{product.price}}</var> 
      </div> <!-- price-detail-wrap .// -->

      <p>{{product.description}}</p>


      <input type="hidden" name="product_id" value="{{product.id}}">
      <dl class="row">
        <dt class="col-sm-3">{% trans 'Manufacturer' %}</dt>
        <dd class="col-sm-9">{{product.manufacturer}}</dd>

        {% if product.availabilty == True %}
          <dt class="col-sm-3">{% trans 'Availabilty' %}</dt>
          <dd class="col-sm-9">{% trans 'in Stock' %}</dd>
        {% else %}
          <dt class="col-sm-3">{% trans 'Availabilty' %}</dt>
          <dd class="col-sm-9">{% trans 'out of Stock' %}</dd>
        {% endif %}
          

        <dt class="col-sm-3">{% trans 'Guarantee' %}</dt>
        <dd class="col-sm-9">{{product.guarantee}} year</dd>

        <dt class="col-sm-3">Delivery time</dt>
        <dd class="col-sm-9">{{product.delivery_time}} days</dd>

        <dt class="col-sm-3">{% trans 'Size' %}</dt>
        <dd class="col-sm-9">
          <select name="size" id="id_size">
            <option value="-1" selected>{% trans 'Choose size' %}</option>
            {% for size in product.product_size.all %}
            <option value="{{size.id}}">{{size.name}}</option>
            {% endfor %}
          </select>
        </dd>


        <dt class="col-sm-3">{% trans 'Colors' %}</dt>
        <dd class="col-sm-9">
          <select name="color" id="id_color">
            <option value="-1">{% trans 'Choose color' %}</option>
            {% for color in product.product_colors.all %}
            <option value="{{color.id}}">{{color.name}}</option>
            {% endfor %}
          </select>
        </dd>
      </dl>

      <div class="form-row  mt-4">
        <div class="form-group col-md">
          <button type="submit" class="btn  btn-primary" id="add_to_cart">
            <i class="fas fa-shopping-cart"></i> <span class="text">{% trans 'Add to cart' %}</span>
          </button>
          <a href="#" class="btn btn-light">
            <i class="fas fa-envelope"></i> <span class="text">{% trans 'Contact supplier' %}</span>
          </a>
        </div> <!-- col.// -->
      </div> <!-- row.// -->

    </article> <!-- product-info-aside .// -->
  </main> <!-- col.// -->
</div> <!-- row.// -->

<!-- ================ ITEM DETAIL END .// ================= -->
{% endblock main %}


{% block script %}
<script>
  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
</script>
<script>
  const extraImages = document.querySelectorAll(".extra-images");
  const mainImage = document.getElementById("main-image-frame");
  extraImages.forEach((image) => {
    image.addEventListener("click", (e) => {
      e.preventDefault();
      const chosenImage = image.getAttribute("src")
      mainImage.setAttribute("src", chosenImage);
    });
  })
</script>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous">
  </script>

<script>
  var addToCart = document.getElementById("add_to_cart");
  addToCart.addEventListener("click", () => {
    console.log("Clicked");

    data = {
      product_id: "{{product.id}}",
      size: document.getElementById("id_size").value,
      color: document.getElementById("id_color").value
    }
    
    console.log(data);
    add_to_cart(data, updateCartCount);
  });

  function add_to_cart(data, callback=null) {
    const csrftoken = getCookie('csrftoken');
    fetch("{% url 'add_to_cart' %}",{
      method: "POST",
      headers: {
        "Content-type": "application/json",
        "X-CSRFToken": csrftoken
      },
      body: JSON.stringify(data)
    }).then(
      response => response.json()
    ).then((data) => {
      console.log(data);
      console.log(data.cartitems_count);
        if(callback){
          callback(data);
        }
    });
  }

  function updateCartCount(data){
    document.getElementById("id_cartitems_count").innerText = data.cartitems_count;
  }
    

</script>

{% endblock script %}

      
    

// $.ajax("http://localhost:8000/cart/add-to-cart/", {
  //   type: "GET",
  //   data: data,
  //   success: function (data, status, xhr) {
  //     console.log(data);
  //     document.getElementById("id_cartitems_count").innerText = data["cartitems_count"];
  //   }
  // });